/* Reset layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #296089;
  --primary-color-dark: #1c4565;
  --secondary-color: #f0dd77;
  --third-color: #96d0cd;
  --four-color: #f7d77a;
  --primary-color-background: #ebf6ff;
  --primary-color-list: #c5e8ff;
  --text-color: #a39d9d;
  --max-width: 1200px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 10px 0;
  padding-bottom: 42px;
  z-index: 900;
}

.menu-item a {
  text-decoration: none;
  color: black;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}
.menu-item a:hover {
  background-color: var(--third-color);
  color: white;
}
.logo img {
  width: 200px;
}

.flag-icon {
  height: 13px;
  margin-right: 5px;
}

.btn-login,
.btn-signup,
.btn-cart {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}
.lang-currency {
  padding: 8px 12px;
}
.lang-currency:hover {
  border-radius: 6px;
  background-color: var(--third-color);
  color: white;
}
.btn-login {
  padding: 10px 10px;
  background: white;
  border: 1px solid var(--primary-color);
}

.btn-signup {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
}

/* .btn-cart {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
} */

/* Navigation menu dưới */
.nav-items {
  display: flex;
  align-items: center;
  gap: 15px;
  color: grey;
}
.nav {
  position: fixed;
  width: 100%;
  top: 0px;
  background: white;
  margin-top: 60px;
  border-bottom: 1px solid grey;
  z-index: 999;
  padding-top: 10px;
  /* box-shadow: 0 3px 3px rgba(151, 151, 151, 0.3); */
}
.hotlinee {
  padding-bottom: 10px;
}
.hotlinee_number {
  color: red;
  font-weight: 600;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 16px;
}
.nav-items1 {
  cursor: pointer;
  color: grey;
  padding-bottom: 10px;
}
.nav-items1 a {
  text-decoration: none;
  color: #333;
  font-weight: 555;
}
.nav-items1 a:hover {
  color: var(--primary-color);
}

/* css trang about us */
.main-section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

/* .section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
} */

/* .section__title {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 1rem;
} */

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color-background);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

/* CSS FOR HEADER OF MAIN  */
.content__subtitle-section {
  font-size: 1rem;
  color: black;
  max-width: calc(var(--max-width) / 2);
}

.main a {
  text-decoration: none;
}

.main img {
  width: 100%;
  display: block;
}

.main-section__container {
  background-color: #fafcff;
}

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-bottom: 1rem;
}

.header__image {
  position: relative;
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid #fff;
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  max-width: 300px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content > div {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.header__content .content__sub-header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--primary-color-dark);
}

.header__content .content__action-btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.story {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.video__image {
  position: relative;
}

.video__image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.video__image span {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.video__image span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  background-color: var(--primary-color-background);
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.story > span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color-dark);
}

/* CSS FOR whyChoose section */

.whyChoose__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row-reverse;
  padding-top: 1rem;
}

.video-container {
  flex: 1 1 30rem;
}

.video-container video {
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

.video-container .controls {
  text-align: center;
  padding: 0.3rem 0;

  span {
    display: inline-block;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
    margin: 0.4rem;

    &:hover {
      background-color: var(--primary-color-dark);
    }
  }
}
.content-container {
  flex: 1 1 30rem;
  margin-bottom: 2rem;
}

.content-container span {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.content-container h3 {
  color: var(--primary-color-dark);
  font-size: 2rem;
  margin-top: 0.5rem;
}

.content-container p {
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #000;
  line-height: 2;
}

/*------------CSS FOR DESTINATION SECTION-----------*/
.heading-container {
  text-align: center;
  margin-bottom: 2rem;

  span {
    color: var(--primary-color);
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
    color: var(--primary-color-dark);
  }
}

/*RESPONSIVE*/

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .whyChoose__container .content-container .h3 {
    font-size: 5rem;
  }
}
